{% extends 'base.html' %}
{% block container %}
<main>
    <div id="mainLeft">
        <h1 class="welcomeText">
            Welcome to the single source for all your music book needs!
        </h1>

        <p class="welcomeText">
            If you want to learn about music theory or the people that compose it, we have something for you
        </p>
        <p class="welcomeText">
            If you want help in playing an instrument or if you want some music to play, you've come to the right place
        </p>
        <p class="welcomeText">
            We have the most extensive music book selection online and we keep our prices as low as we can to keep you coming back.
        </p>
    </div>

    <div id="mainRight">
        <h1>Shop by category:</h1>
        <div id="categorySelections">
            {% for category in categories %}
            <div class="category">
                <p>
                    <a href="{{ url_for('category', categoryId=category['categoryId']) }}">
                        {{ category['categoryName'] }}
                    </a>
                </p>

                <a href="{{ url_for('category', categoryId=category['categoryId']) }}">
                    <img
                        src="{{ url_for('static', filename='images/categories/' + category['categoryName']|lower|replace(' ', '-') + '-category.jpg') }}"
                        alt="{{ category['categoryName'] }}"
                    >
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}


